.logo
{
	width: 150px;
}
.nav-outer
{
	background: #fff;
}
.kid-menu .nav-item .nav-link
{
	
	padding: 25px 25px !important;
}
.kid-menu .nav-item .nav-link
{
	color:#000;
	font-weight: 600;
}
.kid-menu .Highlight-menu .nav-link
{
	background: #ff97a6;
	color: #fff !important;
}
.bar-head
{
	background: #b4ddd9;
	padding: 8px;
}
.bar-head h5
{
	color: #fff;
	font-size: 1em;
	margin: 0;
}

.login-banner
{
	background: url(../images/login-banner.jpg);
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}
.login-outer h2
{
	color: #ff97a6;
	font-size: 1.8em;
	font-weight: 600;
	text-align: center;
	font-weight: 600;
	margin-top: 20px;
}
.fb-link-btn
{
	background: #0e4480;
	border: 0;
	padding: 5px 20px;
	color: #fff;
	cursor: pointer;
}
.fb-link-btn i
{
	margin-right: 10px;
}
.login-input
{
	border:solid 1px #fff;
	background: transparent;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	padding: 10px;
}
.mb-20
{
	margin-bottom: 20px !important;
}
.login-outer
{
	width: 70%;
	margin:auto;
	background: #ffffff1c;
	padding: 15px;
}
.login-subouter
{
	width: 50%;
	margin: auto;
	padding: 10px;
}
.login-subouter .form-check
{
	color: #fff;
}

button:focus
{
	outline: 0 !important;
}
.kid-btn
{
	border:solid 1px #ff97a6;
	background: #ff97a6;
	padding: 10px 15px;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
.kid-btn:hover
{
	background: #fb8092;
	border-color: #fb8092;
}
.forgot-password a
{
	color: #fff;
}
.forgot-password a:hover
{
	color: #fff;
}

.footer
{
	background: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 20px;
}
.footer h4
{
	color: #b9b9b9; 
	font-weight: 600;
}
.footer-links
{
	margin: 0;
	padding: 0;
}
.footer-links li
{
	list-style: none;
}
.footer-links li a
{
	color: #b9b9b9;
}
.footer-links li a:hover
{
	color: #fff;
	text-decoration: none;
}
.contact p
{
	color: #b9b9b9; 
}
.contact p a
{
	color: #b9b9b9; 
}
.social-links i
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #5a5a5a;
	color: #2f2f2f;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}
.social-links li
{
	display: inline-block;
	margin-right: 10px;
}
.social-links li:hover i
{
	background: #fff;
	cursor: pointer;
}
.footer-line
{
	border-color: #5a5a5a; 
	margin-top: 40px;
	margin-bottom: 20px;
}
.copy-right
{
	color: #b9b9b9; 
}
.nav-padding
{
	padding: 0 !important;
}
.register-bg
{
	background: #f0f0f0;
	padding-top: 60px;
	padding-bottom: 60px;
}
.register-outer
{
	width: 70%;
	margin:auto;
	background: #fff;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.2);
}
.register-outer h2
{
	color: #ff97a6;
	font-size: 1.8em;
	font-weight: 600;
	text-align: center;
	font-weight: 600;
	margin-top: 20px;
}
.custom-input
{
	border:solid 1px #bebebe;
	background: transparent;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	color: #424242;
	padding: 10px;
}
.or
{
	margin-top: 20px;
	display: block;
	color: #bebebe;
}
.register-dis
{
	font-size: 12px;
	text-align: center;
	margin-bottom: 30px !important;
}
.register-dis p a
{
	color: #ff97a6;
}
.login--btn
{
	background: transparent !important;
	color: #ff97a6 !important;
}
.login--btn:hover
{
	background: #ff97a6 !important;
	color: #fff !important;
}
.pt-0
{
	padding-top: 0!important
}
.subscribe h5
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:0;
	border-bottom: solid 1px #ff97a6;
}
.subscribe-outer
{
	padding: 20px;
}
.subscribe-outer h6
{
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 600;
}
.promocode input
{
	width: 200px;
}
.input-equal-btn
{
	padding: 8px 15px !important;
	font-size: 14px !important;
}
.prices 
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid #ccc 1px;
}

.select-p ul
{
	margin:0;
	padding-left: 15px;
}
.bold-600
{
	font-weight: 600;
}
.active-price
{
	background: #ffe2e1;
}
.right-menu .menus .nav-link
{
	color: #ff97a6 !important;
}
.right-menu .menus .nav-link:hover
{
	color: #424242 !important;
}
.home-banner
{
	background: url(../images/banner.jpg);
	min-height: 600px;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-contents h1
{
	color: #fff;
	font-weight: 600;
	width: 100%;
	text-align: center;
	font-size: 60px;
}
.banner-contents p
{
	color: #fff;
	font-weight: 400;
	
	font-size: 30px;
}
.banner-form-outer
{
	width: 79%;
	margin:auto;
}
.banner-input
{
	background: #ffffff75;
	color: #000;
	height: 50px;
}
.banner-btn
{
	height: 50px;
}
.home-bar h5 span
{
	margin-right: 20px;
	position: relative;
	color: #fff;
	font-size: 22px;
}
.home-bar h5
{
	margin: 0;
}
.home-bar h5 span::before
{
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	right: -17px;
	top: 12px;
}
.home-bar h5 span:last-child:before
{
	display: none;
}
.home-bar
{
	background: #e0b1db;
	padding: 10px;
}
.v-h-center
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-about
{
	padding-top: 40px;
	padding-bottom: 40px;
}
.home-about h2
{
	font-size: 40px;
	font-weight: 600;
}
.mob-app-img h4
{
	margin-bottom: 40px;
}
.mobile-app
{
	background: #b4ddd9;
}
.app-discription
{
	background: #ff97a6;
	padding: 50px 50px 0px 50px !important;
	color: #fff;
}
.app-discription .col-lg-12
{
	margin-bottom: 40px;
}
.app-discription h5
{
	font-weight: 600;
}
.mob-app-img
{
	padding: 20px;
}
.thumb-descrip
{
	padding-top: 40px;
	padding-bottom: 40px;
	background: #f9f9f9;
}
.thumb-1
{
	background: #b4ddd9;
	border-radius: 15px;
	height: 200px;
}
.thumb-2
{
	background: #dcaad7;
	border-radius: 15px;
	height: 200px;
}
.thumb-3
{
	background: #f5beb9;
	border-radius: 15px;
	height: 200px;
}
.thumb-4
{
	background: #f992a2;
	border-radius: 15px;
	height: 200px;
}
.thumb-outer
{
	padding: 10px;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.16);
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.16);
	border-radius: 15px;
	min-height: 408px;
	background: #fff;
}
.thumb-outer h5
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
}
.thumb-outer p
{
	margin-bottom: 0;
}
.partners
{
	padding-top: 40px;
	padding-bottom: 70px;
}
.partners h4
{
	margin-bottom: 40px;
	font-weight: 600;
}
.inspire-slider
{
	background: #ff97a6;
	padding-bottom: 70px;
	padding-top: 40px;
}
.inspire-slider h4
{
	margin-bottom: 40px;
	font-weight: 600;
	color: #fff;
}
.slider-list .slider-captions h5
{
	font-weight: 600;
	color: #fff;
	margin-top: 15px;
}
.slider-list .slider-captions p
{
	color: #fff;
}
.slider-list
{
	background: #e0b1db;
	padding: 10px;
	border: solid 5px #fff;
}
.discover
{
	padding-top: 40px;
	padding-bottom: 10px;
}
.discover h4
{
	margin-bottom: 40px;
	font-weight: 600;
	color: #000;
	text-align: center;
}
.discover-img-outer
{
	width: 48%;
	margin: auto;
}
.discover-img-outer .col-lg-6
{
	margin-bottom: 30px;
}
.have-question
{
	padding-top: 40px;
	padding-bottom: 40px;
	background: #f9f9f9;
}
.have-question h4
{
	text-align: center;
	margin-bottom: 20px;
	font-weight: 600;
}
.profile-outer h5
{
	margin-bottom: 40px;
}
.prof-form
{
	width: 80%;
	margin:auto;
	margin-bottom: 40px;
}
.my-account i
{
	margin-right: 10px;
}
.my-account .dropdown-menu a
{
	border-bottom: solid 1px #ccc;
}
.my-account .dropdown-menu a:last-child
{
	border-bottom: 0 !important;
}

.account-setting h6
{
	text-align: center;
	margin-bottom: 20px;
}
.account-setting h5
{
	margin-bottom: 10px;
}
.account-form
{
	background: #ecfbf9;
	padding: 20px;
	margin-bottom: 10px;
}
.mb-40
{
	margin-bottom: 40px;
}
.w-170
{
	width: 170px;
}
.prl-15
{
	padding-right: 15px;
	padding-left: 15px;
}
.time-binding
{
	margin-bottom: 15px;
}
.filter-list .drop-item
{
	list-style: none;
	border-top:solid 1px;
	
}
.filter-list .drop-item:nth-last-child(1)
{
	border-bottom:solid 1px;
}
.filter-checkbox-outer
{
	display: none;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {

    background-color: #ff97a6 !important;

}
.dropdown-click
{
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.filter-list
{
	padding:0;
	margin: 0;
}
.filter-icon
{
	color: #ff97a6;
	cursor: pointer;
}
.filter-checkbox-outer ul
{
	padding:0;
}
.filter-checkbox-outer ul li
{
	list-style: none;
}
.nav-border
{
	-webkit-box-shadow: 0px 10px 11px -11px rgba(47,47,47,1);
	-moz-box-shadow: 0px 10px 11px -11px rgba(47,47,47,1);
	box-shadow: 0px 10px 11px -11px rgba(47,47,47,1);
	margin-bottom: 40px;
}
.control-item
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.week-list li:nth-child(1)
{
	margin-left: 0!important;
}
.week-list li
{
	list-style: none;
	display: inline-block;
	padding:0.4em 0.94em;
	text-align: center;
	color: #000;
	margin-left: -5px;
	width: 12%;
}
.week-list li:hover
{
	color: #fff;
	background: #b4ddd9;
	cursor: pointer;
}
.week-list .c-active
{
	background: #e0b1db;
	color: #fff;
}
.week-list .c-active:hover
{
	background: #e0b1db;
	color: #fff;
}
.week-list
{
	padding:0;
	margin: 0;
	text-align: center;
}
.calender-outer
{
	background: #efefef;
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc;
}
.week-list p
{
	margin-bottom: 0px;
	font-size: 18px;
}
.plr-15
{
	padding-left: 15px;
	padding-right: 15px;
}
.control-item i
{
	width: 30px;
	height: 30px;
	background: #e0b1db;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.control-item i:hover
{
	cursor: pointer;
	background: #de9ed7;
}
.filter-btn-outer .filter-btn
{
	border: none;
	padding: 5px 10px;
	width: 100px;
	background: #cfcfcf;
	color: #fff;
	cursor: pointer;
	position: relative;
	top: 1px;
}
.filter-btn-outer .filter-btn:hover
{
	background: #ff97a6;
}
.filter-btn-outer .filter-btn:nth-child(2)
{
	margin-left: -5px;
	border-left: solid 1px;
}
.filter-btn-outer
{
	margin-bottom: 30px;
	border-bottom: solid 1px #bebebe;
}
.f-active
{
	background: #ff97a6 !important;
	color: #fff;
	position: relative;
}
.f-active::before 
{

    content: "";
    position: absolute;
    width: 0;
    height: 0px;
    background: #edecec;
    border-left: solid 12px;
    border-right: solid 12px;
    border-top: solid 12px #ff97a6;
    top: 32px;
    left: 39px;
}
.calender-filter
{
	border-left: solid #bebebe 1px;
}
.selected-day
{
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: 600;
}
.f-listing-description h4
{
	font-size: 18px;
	font-weight: 600;
	color: #ff7387;
}
.f-av
{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	color: #959595;
}
.f-details p
{
	font-size: 12px;
	color: #959595;
	margin-bottom: 0px;
}
.f-icon-outer
{
	display: inline-block;
}
.credit-outer
{
	display: inline-block;
	padding: 3px;
	padding-top: 0;
}
.credit-outer h6
{
	font-size: 14px;
	color: #ff7387;
	margin-bottom: 3px;
	font-weight: 600;
}
.credit-outer p
{
	font-size: 12px;
	color: #959595;
}
.credit-outer span
{
	font-size: 12px;
	color: #959595;
	margin: 0;
	margin-bottom:3px;
	display: block;
}
.credit-outer img
{
	margin-right: 3px;
}
.flex
{
	display: flex;
}
.small-btn
{
	padding: 3px 5px !important;
	font-size: 14px;
}
.v-h-center
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-result-outer
{
	border-top: solid 1px #bebebe;
	padding-bottom:5px;
	padding-top: 5px;
}
.resulting-section .list-result-outer:nth-last-child(1)
{
	border-bottom: solid 1px #bebebe;
}
.upcoming-sche h5
{
	font-size: 14px;
	color: #ff7387;
}
.sche-days span
{
	color: #ff7387;
	font-weight: 900;
	font-size: 12px;
}
.sche-time span
{
	font-size: 12px;
	color: #959595;
}
.fp-c
{
	color: #c3b2b2 !important;
}
.top-rated
{
	position: absolute;
	padding: 5px 20px 5px 15px;
	background: #ff97a6;
	top: 0;
	font-size: 13px;
	color: #fff;
	-webkit-clip-path: polygon(0 0,100% 0,85% 100%,0 100%);
	clip-path: polygon(0 0,100% 0,85% 100%,0 100%);
}
.p-r
{
	position: relative;
}
.activity-view
{
	-webkit-box-shadow: 0px 0px 9px 1px #0003;
	-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px 1px #0003;
	background: #fff;
	border-left: solid #ff97a6;
}
.time-credit-box
{
	border: solid 1px #bebebe;
	padding: 15px;
	border-radius: 10px;
	margin-top: 50px;
}
.time-credit-box p
{
	font-size: 13px;
	margin-bottom: 0;
}
.kid-small-btn
{
	font-size: 14px;
	
	padding: 5px 15px;
}
.mb-50
{
	margin-bottom: 50px !important;
}
.activity-view-ab
{
	padding: 15px 30px !important;
}
.ac-seperation
{
	border-color: #bebebe;
	margin-top: 0;
	margin-bottom: 0;
}
.ac-details-01 .col-lg-4
{
	color: #000;
	font-size: 14px;
	font-weight: 600;
}
.ac-details-01 .col-lg-8
{
	color: #ff7387;
	font-size: 14px;
	font-weight: 600;
}
.time-date-box
{
	border: solid 1px #bebebe;
	border-radius: 10px;
	margin-top: 50px;
	overflow: hidden;
}
.time-date-box h5
{
	font-size: 17px;
	text-align: center;
	margin:0;
	background: #e0b1db;
	color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
}

.activity-view-d
{
	padding: 15px;
}
.time-date-01 p
{
	margin-bottom: 0;
	font-size: 15px;
	font-weight: 600;
	color: #ff7387;
	margin-top: 10px;
}
.time-date-01 span
{
	font-size: 14px;
	display: block;
}
.time-date-01
{
	padding-bottom:10px;
}
.activity-reviews
{
	padding: 15px;
}
.rating-des
{
	font-size: 12px;
	padding-left: 10px;
	display: inline-block;
}
.review-cards
{
	border-bottom: solid 1px #e9e9e9;
	padding-bottom: 15px;
	padding-top: 15px;
}
.review-cards p
{
	font-size: 14px;
	margin: 0;
}
.review-cards h5
{
	font-weight: 600;
}
.all-reviews a
{
	font-size: 18px;
	color: #ff7387;
	padding: 7px 15px !important;
	display: block;
}
.pb-0
{
	padding-bottom: 0!important;
}
.all-reviews a:hover
{
	color: #fc5d74;
}
.ac-providers
{
	border: solid 1px #bebebe;
	padding: 15px;
	background: #fff;
}
.ac-providers h6,.ac-providers h5
{
	color: #ff7387;
}
.ac-providers h5
{
	font-weight: 600;
}
.small-text
{
	color: #424242;
	display: block;
}
.ac-providers p
{
	font-size: 14px;
}
.ac-pro-des p:nth-last-child(1)
{
	margin: 0;
}
/*slider-bar*/
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -.7em !important;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    
    border-radius: 50%;
    border: 1px solid #ff97a6;
	background: #ff97a6 !important;
	cursor: pointer;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.5em !important;
}
.ui-slider-horizontal {
    height: .3em !important;
}
.ui-widget-content 
{
    border: 0 !important;
    background: #ececec !important;
    color: #333;
}
.ui-widget-header 
{
    border: 0 !important;
    background: #ababab !important;
}
/*slider-bar end*/
/*list-slider-css-start-*/
/* bx-wrapper Styling */
.bx-caption
{
	display: none !important;
}
.bx-wrapper {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  margin: auto !important;
  
}



.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: -250px !important;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
  
}

.bx-wrapper .bx-prev {
  left: 10px !important;
  background: url(images/controls.png) no-repeat 0 -32px;
  /*! bottom: 200px !important; */
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}
/* End bx-wrapper Styling */

.logosImgs {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  
}
.resulting-section
{
	position: relative;
}
.loader-back
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffffffde;
	display:none;
}
.loader-img
{
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width: 800px) {
    .logosImgs img {
      max-width: 125px;
      max-height: 88px;
      margin: 5px 8px;
  }
}

@media screen and (max-width: 560px) {
  .logosImgs img {
      max-width: 85px;
      max-height: 60px;
      margin: 3px 5px;
  }
}
/*list-slider-css-end*/
/*partner-slider-css*/
.bx-wrapper
{
	/*max-width: 1047px !important;
	margin: auto;*/
}
.section-title h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 6px;
    color: #000;
    letter-spacing: 0.3px;
    padding: 0;
}
.section-title::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
/****************/
/*	 BX-SLIDER 	*/
/****************/
section.client {

}
section.client .section-title {
	margin-bottom: 6em;
}
.bx-controls {
	position: relative;
}
.bx-wrapper .bx-pager {
    text-align: center;
    padding-top: 30px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/*slider-css end*/
@media (max-width: 991px)
{
	.login-outer,.register-outer 
	{
    	width: 90%;
	}
	.login-subouter
	{
    	width: 80%;
	}
	.nav-padding
	{
		padding: 15px !important;
	}
	.footer .col-lg-3
	{
		margin-bottom: 15px;
	}
	.banner-contents .col-lg-6
	{
		margin-bottom: 10px;
	}
	.banner-contents .col-lg-3
	{
		margin-bottom: 10px;
	}
	.banner-contents h1
	{
		font-size: 34px;
	}
	.banner-contents p 
	{
    	font-size: 22px;
	}
	.thumb-descrip .col-lg-3
	{
		margin-bottom: 10px;
	}

}
@media (max-width: 443px)
{
	
	.promocode .kid-btn
	{
    	margin-top: 10px;
	}
}
@media (max-width: 436px)
{
	
	.login-subouter
	{
    	width: 100%;
	}
}
@media (max-width: 367px)
{
	
	.login-outer,.register-outer 
	{
    	width: 100%;
	}

}